/**
Gravity Bubbles
*/
.map-container {
    /*border: 1px #716262 solid;*/
    /*position: absolute;*/
}

.bubble {
    stroke-width: 2px;
    opacity: .9;
}

    .bubble:hover {
        stroke: #2a2a2a;
        stroke-width: 3px;
    }

.group {
    stroke: #dddddd;
    /*stroke-dasharray: 5,2,3,2;*/
    stroke-width: 0px;
    fill: transparent;
}

rect.group.multiple {
    stroke: #dddddd;
    /*stroke-dasharray: 10,2;*/
    stroke-width: 1px;
    opacity: 1;
    fill: transparent;
}

.group-text {
    font-size: 0.6em;
    stroke: #000;
}

.legend-circle {
    stroke: #8e8e8e;
    stroke-dasharray: 7,3;
    fill: transparent;
}

.legend-text {
    font-size: 0.6em;
    stroke: #000;
}

.tooltip {
	position: absolute;
	top: 100px;
	left: 100px;
  -moz-border-radius:5px;
	border-radius: 5px;
  border: 2px solid #000;
	/* background: #222222; */
  background: #fff;
	opacity: .9!important;
	/* color: #eeeeee; */
  color: black;
	padding: 10px;
	width: 300px;
	font-size: 12px;
	z-index: 10;
}

.tooltip .title {
	font-size: 13px;
}

.tooltip .name {
  font-weight:bold;
}