.gauge-body {
    stroke: rgb(144, 144, 144);
    stroke-width: 1px;
    stroke-linejoin: round;
    fill: rgba(85, 85, 85, 0.15);
    border: 1px red dashed;
    border-radius: 5px;
    border-top-left-radius: 5px;
}
.threshold {
    stroke: rgb(128, 128, 128);
    stroke-width: 1px;
}
.threshold.draggable {
    cursor: col-resize;
}
.threshold line {
    stroke: rgb(174, 173, 173);
    stroke-width: 2px;
    fill: rgb(85, 85, 85);
}
.threshold path {}
.gradient-rect {
    /*stroke: rgb(85,85,85);*/
    /*stroke-width: 2px*/
}
.axis path,
.axis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
}

/*.minor path,
.minor line{
  stroke: red;
  stroke-width: 0.4px;
}*/

.axis text {
    font: 8px sans-serif;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.minor text {
    display: none;
}
