/**
Gravity Bubbles
*/

.gravity-container {
    /*border: 1px #716262 solid;*/
    /*position: absolute;*/
}

.gravity-container .bubble {
    stroke-width: 2px;
    opacity: .9;
}

.gravity-container .bubble:hover {
    stroke: #2a2a2a;
    stroke-width: 3px;
}

.gravity-container .bubble.drilldown {
    transform: scale(1.5);
}

.gravity-container .group {
    stroke: #dddddd;
    /*stroke-dasharray: 5,2,3,2;*/
    stroke-width: 0px;
    fill: transparent;
}

.gravity-container rect.group.multiple {
    stroke: #dddddd;
    /*stroke-dasharray: 10,2;*/
    stroke-width: 1px;
    opacity: 1;
    fill: transparent;
}

.gravity-container .group-text {
    font-size: 0.7em;
    stroke: #000;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

.gravity-container .legend-circle {
    stroke: #8e8e8e;
    stroke-dasharray: 7, 3;
    fill: transparent;
}

.gravity-container .legend-text {
    font-size: 0.6em;
    stroke: #000;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

.gravity-container text.label {
    font-size: 0.8em;
    /*stroke: #1f1f1f;*/
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

.gravity-container text.label tspan {
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

.gravity-container .tooltip {
    position: absolute;
    top: 100px;
    left: 100px;
    -webkit-border-radius: 5px;
    -khtml-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    border-radius: 5px;
    border: 2px solid #000;
    /* background: #222222; */
    background: #fff;
    opacity: .9!important;
    /* color: #eeeeee; */
    color: black;
    padding: 10px;
    width: 300px;
    font-size: 12px;
    z-index: 10;
}

.gravity-container .tooltip .title {
    font-size: 13px;
}

.gravity-container .tooltip .name {
    font-weight: bold;
}
